{% extends 'frontend/base.html' %}
{%load static%}
{%block title %}
<title>Rest your Account Password | Chilltray</title>
{%endblock %}
{%block styles %}
<link rel="stylesheet" href="{% static 'styles/passwordreset.css' %}">
{%endblock %}

{%block content %}

<form id = 'form-id' method="POST">
    {% csrf_token %}
    
    <h3>Change Password</h3>
    <div >
        <label for="password">New Password</label>
        <input id="password" type="password" placeholder="Enter password" required>
        <p id = "password-error-message"></p>
    </div>
    
    
    <div  >
        <label for="confirm_password">Confirm New Password</label>
        <input id = "confirm_password" type="password" placeholder="Enter Same Password" required>
        <p id = "confirm_password-error-message"></p>
    </div>
    
    <div id = "submit">
        <input type="submit" value="Submit">
    </div>
</form>



<script type="text/javascript">
    const token = "{{csrf_token}}";

        
    var form = document.getElementById('form-id');

    form.addEventListener('submit',function(e){
        e.preventDefault()
        

        $.ajax({
            type : 'POST',
            url : '/auth/reset/{{uidb64}}/{{token}}/',
            data: {
                'password':$('#password').val(),
                'confirm_password':$('#confirm_password').val(),
                'csrfmiddlewaretoken':token,
            },
            error : function(err){

                console.log(err);
                for(var key in err.responseJSON){
                    $(`#${key}-` + "error-message").addClass('error-style');  
                    $(`#${key}-` + "error-message").html(err.responseJSON[key][0]);
                    $(`#${key}`).addClass('error-boxborder');
                }
                    
                if(err.responseJSON.hasOwnProperty('info')){
                    alert(err.responseJSON.info);
                    }
                
            },
            success : function(response){
                alert("Password has been Changed");
                $('#info').html(response.info)
            },
            beforeSend : function(){
                //Clear old error messages 
                let inputboxs = document.querySelectorAll('input');

                inputboxs.forEach(element => {
                    element.classList.remove("error-boxborder");

                });

                let errortxts = document.querySelectorAll('p');

                errortxts.forEach(element => {
                    if(element.classList.contains("error-style")){
                        element.innerHTML = "";
                        element.classList.remove("error-style");
                    }
                    
                });
            }
        })
        
    })


</script>
{%endblock%}